{% load static %}
<!DOCTYPE html>
<html>
<head>

{% block head %}
  {% include 'blog/head.html' %}
{% endblock head %}

</head>

{% url 'chat:chat-detail' as cdetail %}
{% if request.path == cdetail %}
<body style="background: linear-gradient(-45deg, #ee7752, #9e6e81, #65a9c1, #8891d0);
    background-size: 400% 400%;">
{% else %}
<body>


{% endif %}

    {% block header %}
      {% include 'chat/header.html' %}
    {% endblock header %}

    <main role="main" class="container" style="padding-top:46px">
      

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    
    {% block content %}
    
    {% endblock %}

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src='{% static "blog/js/confirmlogout.js" %}'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>document.addEventListener("touchstart", function(){}, true);</script>
    <script>

            // check for saved 'darkMode' in localStorage
      let darkMode = localStorage.getItem('darkMode'); 

      const darkModeToggle = document.querySelector('#dark-mode-toggle');

      const enableDarkMode = () => {
        // 1. Add the class to the body
        document.body.classList.add('darkmode');
        // 2. Update darkMode in localStorage
        localStorage.setItem('darkMode', 'enabled');
      }

      const disableDarkMode = () => {
        // 1. Remove the class from the body
        document.body.classList.remove('darkmode');
        // 2. Update darkMode in localStorage 
        localStorage.setItem('darkMode', null);
      }
      
      // If the user already visited and enabled darkMode
      // start things off with it on
      if (darkMode === 'enabled') {
        enableDarkMode();
      }

      // When someone clicks the button
      darkModeToggle.addEventListener('click', () => {
        // get their darkMode setting
        darkMode = localStorage.getItem('darkMode'); 
        
        // if it not current enabled, enable it
        if (darkMode !== 'enabled') {
          enableDarkMode();
        // if it has been enabled, turn it off  
        } else {  
          disableDarkMode(); 
        }
      });

    </script>

    

</body>
</html>
