{% block header %}
{% load static %}

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}" style="box-shadow: 0px 14px 20px #343a40;">DOTpost</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            </div>
            <!-- Navbar Right Side -->

              <!-- Search feature -->
              <div class="navbar-nav">

              <!-- Login, Sign up, profile buttons -->

              {% if user.is_authenticated %}

                <a class="nav-item nav-link" href="{% url 'post-create' %}" style="box-shadow: 0.5px 0.5px 0.5px 0.5px black;">
                  <img style="width:15px;height:30px;filter:invert(1)" src="{% static 'assets/logos/publish.svg' %}" alt="publish-logo"> Publish
                </a>

                <a class="nav-item nav-link" href="{% url 'chat:chat-inbox'%}" style="box-shadow: 0.5px 0.5px 0.5px 0.5px black;">
                  <img style="width:15px;height:30px;filter:invert(1)" src="{% static 'assets/logos/chat.svg' %}" alt="logout-logo">
                </a>


                <div class="dropdown" style="padding:0px;">
                <a class="nav-item nav-link" href="{% url 'profile' %}" style="box-shadow: 0.5px 0.5px 0.5px 0.5px black;">
                  <img style="width:15px;height:30px;filter:invert(1)" src="{% static 'assets/logos/user.svg' %}" alt="profile-logo"> 
                    <button style="background-color:#343a40; border-color: #343a40; color:#d5dbde;"></button>
                </a>
                      <div class="dropdown-content">
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'user_settings' %}">Settings</a>
                      </div>
                </div>

                <a class="nav-item nav-link" onclick="showConfirm()" href="#" style="box-shadow: 0.5px 0.5px 0.5px 0.5px black;">
                  <img style="width:15px;height:30px;filter:invert(1)" src="{% static 'assets/logos/power.svg' %}" alt="logout-logo">
                </a>

              {% else %}

                <a class="nav-item nav-link" href="{% url 'login' %}" style="box-shadow: 0.5px 0.5px 0.5px 0.5px black;">
                  <img style="width:15px;height:30px;filter:invert(1)" src="{% static 'assets/logos/login.svg' %}" alt="login-logo"> Login
                </a>
                <a class="nav-item nav-link" href="{% url 'register' %}" style="box-shadow: 0.5px 0.5px 0.5px 0.5px black;">
                  <img class="svgwhite" style="width:15px;height:30px;filter:invert(1)" src="{% static 'assets/logos/register.svg' %}" alt="register-logo"> Register
                </a>

              {% endif %}

              </div>

              <button id="dark-mode-toggle" class="dark-mode-toggle">
                <svg style="width:15px;height:30px" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"><path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/></svg>
              </button>

            </div>
          </div>
        </div> 
      </nav>
    </header>

{% endblock header %}