{% extends "chat/base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <h3>Contact list</h3>
    {% if users %}
      {% for user in users %}
        <a class="nav-link" href="{% url 'chat:chat-detail' user.username %}" >{{ user }}</a>
      {% endfor %}
    {% else %}
    <p>It looks like you have no contact, make sure to follow someone!</p>
    {% endif %}
    </div>
  </div>
  <div class="col-9">
  
  </div>
</div>

{% endblock %}