{% extends "chat/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="chat-frame">
  <div class="row" style="padding: 20px;">
    <div class="col-3 chat-contact">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <h3 style="padding-top: 12px;"><span class="material-icons">contacts</span> Contacts</h3>
        {% for user in users %}
            <a class="nav-link" href="{% url 'chat:chat-detail' user.username %}" >{{ user }}</a>
        {% endfor %}

        </div>
    </div>
    <div class="col-9 chat-messages">
        <h3>Your conversation with {% if user != object.first %}@{{ object.first }}{% else %}@{{ object.second }}{% endif %}</h3><br/>
        <ul id='chat-items'>
        {% for chat in object.chatmessage_set.all|slice:"2::" %}

            <li>{{ chat.user }}: {{ chat.message }}</li>

        {% endfor %}
        </ul>

        <form id='form' method='POST'> 
            <input type='hidden' id='myUsername' value='{{ user.username }}'/>
            {% csrf_token %}
            {{form|crispy}}
            <input type='submit' class='btn btn-primary'/>
        </form>
    </div>
  </div>
</div>










<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script>
// websocket scripts

var loc = window.location;
var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")
var me = $("#myUsername").val()

var wsStart = 'ws://';
if (loc.protocol == 'https:'){
    wsStart = 'wss://'
};

var endpoint = wsStart + loc.host + loc.pathname + '/';
var socket = new ReconnectingWebSocket(endpoint);

socket.onmessage = function(e){
    console.log("message",e)
    var chatDataMsg = JSON.parse(e.data)
    chatHolder.append("<li>" + chatDataMsg.username + ": " + chatDataMsg.message + "</li>")
};

socket.onopen = function(e){
    console.log("open",e)
    formData.submit(function(event){
        event.preventDefault()
        var msgText = msgInput.val()
        // chatHolder.append("<li>" + msgText + " via " + me +  "</li>")
        
        var finalData = {
            'message':msgText
        }
        socket.send(JSON.stringify(finalData))
        // msgInput.val('')
        formData[0].reset()
    })
};

socket.onerror = function(e){
    console.log("error",e)
};

socket.onclose = function(e){
    console.log("close",e)
};

</script>

{% endblock %}