:root {
  --clr-light: #ffffff;
  --clr-dark: #000000;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
}


.darkmode {
  --clr-light: #fafafa;
  --clr-dark: #000000e9;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

body {
  /*background: #fafafa;*/
  background: var(--background);
  /* color: #333333; */
  color: var(--foreground);
  margin-top: 5rem;
  font-family: monospace;
  background-image: url("");
  background-size: cover;
  padding-top: 20px;

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	/* background-size: 400% 400%; */
	/* animation: gradient 15s ease infinite; */
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }

} 

.testyy {
  color: #444444;
  border: solid;
  padding: inherit;
  text-align: center;
  box-shadow: 3px 3px;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

footer
{
  bottom:0;
}

.navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

ul {
  margin: 0;
  list-style-image: url('/static/assets/logos/add.svg');
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-section-article {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  background: #bdccc72e;;
}

.content-section-registration {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  transform: translate(50%, 0%);
}


.content-sectionside {
  background: gainsboro;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  border: dashed;
  box-shadow: 3px 6px 0px#000000;
  padding-bottom: 20px;
  max-width: 340px;
}

.content-sectionside-feed {
  background: #b4e4d89e;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  border: dashed;
  box-shadow: 3px 3px 0px#000000;
  padding-bottom: 20px;
}

.content-sectionside-settings {
  /* background: gainsboro; */
  padding: 10px 20px;
  border: 2px solid #040000;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: xx-large;
  box-shadow: 3px 6px 0px#000000;
}

.content-sectionmain {
  background: var(--background);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-section-login {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  border: solid;
  box-shadow: 3px 3px #e881818c;
  transform: translate(50%, 0%);
}

.content-sectionside-feed-second {
  padding: 10px 20px;
  /* border: 1px solid #dddddd; */
  border-radius: 3px;
  margin-bottom: 20px;
  /* border: dashed; */
  /* box-shadow: 3px 6px 0px#000000; */
  padding-bottom: 20px;
}


.content-section-comments {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-sectionmain:hover{
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
}

.article-title {
  color: var(--foreground);
  /* color: #444444; */
  font-size: smaller;
}

a.article-title:hover {
  color: #173a59;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-img:hover {
  opacity: 0.5;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;

} 

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.account-heading {
  font-size: 2.5rem;
  background: gainsboro;
  box-shadow: 3px 3px;
  text-align: center;
}

.navbar-dark .navbar-brand {
  color: #fff;
  border: solid;
  padding: inherit;
}

a {
  color: #000000;
  text-decoration-color: black;

}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.container {
    position: relative;
    margin: 0px auto;
    clear: both;
}
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .container {
        width: 1030px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 682px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 428px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 479px) {
    .container {
        width: 320px;
        margin: 0 auto;
    }
}


  
.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  /*height: 100px;*/
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 3px 3px;
  
  /* == */
  width: 250px;
  /* == */
}
.mcd-menu li {
  position: relative;
  /*float:left;*/
}
.mcd-menu li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: #777;
  /*text-align: center;
  border-right: 1px solid #E7E7E7;*/
  
  /* == */
  text-align: left;
  /* height: 36px; */
  position: relative;
  border-bottom: 1px solid #EEE;
  /* == */
}
.mcd-menu li a i {
  /*display: block;
  font-size: 30px;
  margin-bottom: 10px;*/
  
  /* == */
  float: left;
  font-size: 20px;
  margin: 0 10px 0 0;
  /* == */
  
}
/* == */
.mcd-menu li a p {
  float: left;
  margin: 0 ;
}
/* == */

.mcd-menu li a strong {
  display: block;
  text-transform: uppercase;
}
.mcd-menu li a small {
  display: block;
  font-size: 10px;
}

.mcd-menu li a i, .mcd-menu li a strong, .mcd-menu li a small {
  position: relative;
  
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}
.mcd-menu li:hover > a i {
    opacity: 1;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
    -o-animation: moveFromTop 300ms ease-in-out;
    animation: moveFromTop 300ms ease-in-out;
}
.mcd-menu li:hover a strong {
    opacity: 1;
    -webkit-animation: moveFromLeft 300ms ease-in-out;
    -moz-animation: moveFromLeft 300ms ease-in-out;
    -ms-animation: moveFromLeft 300ms ease-in-out;
    -o-animation: moveFromLeft 300ms ease-in-out;
    animation: moveFromLeft 300ms ease-in-out;
}
.mcd-menu li:hover a small {
    opacity: 1;
    -webkit-animation: moveFromRight 300ms ease-in-out;
    -moz-animation: moveFromRight 300ms ease-in-out;
    -ms-animation: moveFromRight 300ms ease-in-out;
    -o-animation: moveFromRight 300ms ease-in-out;
    animation: moveFromRight 300ms ease-in-out;
}

.mcd-menu li:hover > a {
  color: #000000;
}
.mcd-menu li a.active {
  position: relative;
  color: #000000;
  border:0;
  /*border-top: 4px solid #e67e22;
  border-bottom: 4px solid #e67e22;
  margin-top: -4px;*/
  box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD;
  
  /* == */
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  margin: 0 -4px;
  /* == */
}
.mcd-menu li a.active:before {
  content: "";
  position: absolute;
  /*top: 0;
  left: 45%;
  border-top: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: 42%;
  left: 0;
  border-left: 5px solid #000000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /* == */
}

/* == */
.mcd-menu li a.active:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  border-right: 5px solid #000000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
/* == */

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@-webkit-keyframes moveFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}



.mcd-menu li ul,
.mcd-menu li ul li ul {
  position: absolute;
  height: auto;
  min-width: 200px;
  padding: 0;
  margin: 0;
  background: #FFF;
  /*border-top: 4px solid #e67e22;*/
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  /*top: 130px;*/
  z-index: 1000;
  
  /* == */
  left:280px;
  top: 0px;
  border-left: 4px solid #e67e22;
  /* == */
}
.mcd-menu li ul:before {
  content: "";
  position: absolute;
  /*top: -8px;
  left: 23%;
  border-bottom: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: 25px;
  left: -9px;
  border-right: 5px solid #e67e22;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  /* == */
}
.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  /*top: 100px;*/
  
  /* == */
  left:250px;
  /* == */
}
/*.mcd-menu li ul li {
  float: none;
}*/
.mcd-menu li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #EEE;
  
  /* == */
  height: auto;
  /* == */
}
.mcd-menu li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}
.mcd-menu li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid #e67e22;
}  
.mcd-menu li ul li ul:before {
  content: "";
  position: absolute;
  top: 15px;
  /*left: -14px;*/
  /* == */
  left: -9px;
  /* == */
  border-right: 5px solid #e67e22;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.mcd-menu li ul li:hover > ul {
  top: 0px;
  left: 200px;
}



/*.mcd-menu li.float {
  float: right;
}*/
.mcd-menu li a.search {
  /*padding: 29px 20px 30px 10px;*/
  padding: 10px 10px 15px 10px;
  clear: both;
}
.mcd-menu li a.search i {
  margin: 0;
  display: inline-block;
  font-size: 18px;
}
.mcd-menu li a.search input {
  border: 1px solid #EEE;
  padding: 10px;
  background: #FFF;
  outline: none;
  color: #777;
  
  /* == */
  width:170px;
  float:left;
  /* == */
}
.mcd-menu li a.search button {
  border: 1px solid #e67e22;
  /*padding: 10px;*/
  background: #e67e22;
  outline: none;
  color: #FFF;
  margin-left: -4px;
  
  /* == */
  float:left;
  padding: 10px 10px 11px 10px;
  /* == */
}
.mcd-menu li a.search input:focus {
  border: 1px solid #e67e22;
}


.search-mobile { 
	display:none !important;
	background:#e67e22;
	border-left:1px solid #e67e22;
	border-radius:0 3px 3px 0;
}
.search-mobile i { 
	color:#FFF; 
	margin:0 !important;
}


@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .mcd-menu {
		margin-left:10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .mcd-menu {
		width: 200px;
	}
	.mcd-menu li a {
		height:30px;
	}
	.mcd-menu li a i {
		font-size: 22px;
	}
	.mcd-menu li a strong {
		font-size: 12px;
	}
	.mcd-menu li a small {
		font-size: 10px;
	}	
	.mcd-menu li a.search input {
		width: 120px;
		font-size: 12px;
	}
	.mcd-menu li a.search buton{
		padding: 8px 10px 9px 10px;
	}
	.mcd-menu li > ul {
		min-width:180px;
	}
	.mcd-menu li:hover > ul {
		min-width:180px;
		left:200px;
	}
	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
		min-width:150px;
	}
	.mcd-menu li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}
	.mcd-menu li ul li ul li:hover > ul {
		left:150px;
		min-width:150px;
	}
	.mcd-menu li ul a {
		font-size:12px;
	}
	.mcd-menu li ul a i {
		font-size:14px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.mcd-menu { 
		width: 50px;
	}
	.mcd-menu li a { 
		position: relative;
		padding: 12px 16px;
		height:20px;
	}
	.mcd-menu li a small { 
		display: none;
	}
	.mcd-menu li a strong { 
		display: none;
	}
	.mcd-menu li a:hover strong,.mcd-menu li a.active strong {
		display:block;
		font-size:10px;
		padding:3px 0;
		position:absolute;
		bottom:0px;
		left:0;
		background:#e67e22;
		color:#FFF;
		min-width:100%;
		text-transform:lowercase;
		font-weight:normal;
		text-align:center;
	}
	.mcd-menu li .search { 
		display: none;
	}
	
	.mcd-menu li > ul {
		min-width:180px;
		left:70px;
	}
	.mcd-menu li:hover > ul {
		min-width:180px;
		left:50px;
	}
	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
		min-width:150px;
	}
	.mcd-menu li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}
	.mcd-menu li ul li ul li > ul {
		left:35px;
		top: 45px;
		border:0;
		border-top:4px solid #e67e22;
	}
	.mcd-menu li ul li ul li > ul:before {
		left:30px;
		top: -9px;
		border:0;
		border-bottom:5px solid #e67e22;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
	}
	.mcd-menu li ul li ul li:hover > ul {
		left:30px;
		min-width:150px;
		top: 35px;
	}
	.mcd-menu li ul a {
		font-size:12px;
	}
	.mcd-menu li ul a i {
		font-size:14px;
	}
	
}

@media only screen and (max-width: 479px) {
    .mcd-menu { 
		width: 50px;
	}
	.mcd-menu li a { 
		position: relative;
		padding: 12px 16px;
		height:20px;
	}
	.mcd-menu li a small { 
		display: none;
	}
	.mcd-menu li a strong { 
		display: none;
	}
	.mcd-menu li a:hover strong,.mcd-menu li a.active strong {
		display:block;
		font-size:10px;
		padding:3px 0;
		position:absolute;
		bottom:0px;
		left:0;
		background:#e67e22;
		color:#FFF;
		min-width:100%;
		text-transform:lowercase;
		font-weight:normal;
		text-align:center;
	}
	.mcd-menu li .search { 
		display: none;
	}
	
	.mcd-menu li > ul {
		min-width:180px;
		left:70px;
	}
	.mcd-menu li:hover > ul {
		min-width:180px;
		left:50px;
	}
	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
		min-width:150px;
	}
	.mcd-menu li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}
	.mcd-menu li ul li ul li > ul {
		left:35px;
		top: 45px;
		border:0;
		border-top:4px solid #e67e22;
	}
	.mcd-menu li ul li ul li > ul:before {
		left:30px;
		top: -9px;
		border:0;
		border-bottom:5px solid #e67e22;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
	}
	.mcd-menu li ul li ul li:hover > ul {
		left:30px;
		min-width:150px;
		top: 35px;
	}
	.mcd-menu li ul a {
		font-size:12px;
	}
	.mcd-menu li ul a i {
		font-size:14px;
	}
    
}

*, ::after, ::before {
  box-sizing: unset;
}

/* comment section */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
 *, *:before, *:after {
	 margin: 0;
	 padding: 0;
	 -webkit-box-sizing: border-box;
	 transition: all 0.2s ease;
}
 .user_avatar {
	 width: 65px;
	 height: 65px;
	 display: inline-block;
	 vertical-align: middle;
}
 .user_avatar img {
	 width: 100%;
	 height: 100%;
	 border-radius: 50%;
}
 .comment_block {
	 width: 95%;
	 height: 100%;
}
 .comment_block .create_new_comment {
	 width: 100%;
	 padding: 20px 0;
}
 .comment_block .create_new_comment .input_comment {
	 display: inline-block;
	 vertical-align: middle;
	 margin-left: 10px;
	 width: calc(100% - 75px);
}
 .comment_block .create_new_comment .input_comment input[type="text"] {
	 width: 100%;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 font-size: 1.3rem;
	 padding: 10px;
	 border: none;
	 border-bottom: 2px solid #f2f2f2;
}
 .comment_block .create_new_comment .input_comment input[type="text"]:focus {
	 outline: none;
	 border-bottom: 2px solid #e6e6e6;
}
 .comment_block .new_comment {
	 width: 100%;
	 height: auto;
	 padding: 20px 0;
	 border-top: 1px solid #e6e6e6;
}
 .comment_block .new_comment .user_comment {
	 list-style-type: none;
}
 .comment_block .new_comment .comment_body {
	 display: inline-block;
	 vertical-align: middle;
	 width: calc(100% - 75px);
	 min-height: 65px;
	 margin-left: 10px;
	 padding: 5px 10px;
	 font-size: 0.9rem;
	 color: #555;
	 background-color: #fff;
	 border-bottom: 2px solid #f2f2f2;
}
 .comment_block .new_comment .comment_body .replied_to {
	 margin: 5px 0px;
	 background-color: #fafafa;
	 border-bottom: 2px solid #f2f2f2;
	 border-radius: 5px;
}
 .comment_block .new_comment .comment_body .replied_to p {
	 padding: 5px;
}
 .comment_block .new_comment .comment_body .replied_to span {
	 color: #6495ed;
	 margin-right: 2px;
}
 .comment_block .new_comment .comment_toolbar {
	 width: 100%;
}
 .comment_block .new_comment .comment_toolbar ul {
	 list-style-type: none;
	 padding-left: 75px;
	 font-size: 0;
}
 .comment_block .new_comment .comment_toolbar ul li {
	 display: inline-block;
	 padding: 5px;
	 font-size: 0.7rem;
	 color: #d9d9d9;
}
 .comment_block .new_comment .comment_toolbar ul li:hover {
	 cursor: pointer;
}
 .comment_block .new_comment .comment_toolbar .comment_details {
	 display: inline-block;
	 vertical-align: middle;
	 width: 70%;
	 text-align: left;
}
 .comment_block .new_comment .comment_toolbar .comment_tools {
	 display: inline-block;
	 vertical-align: middle;
	 width: 30%;
	 text-align: right;
}
 .comment_block .new_comment .comment_toolbar .comment_tools li:hover {
	 color: #ccc;
}
 .comment_block .new_comment .user:hover {
	 color: #6495ed;
	 text-decoration: underline;
}
 .comment_block .new_comment .love:hover {
	 color: #ff6347;
}
 
/* change color of hilight selection */

::selection {
  background-color: #013896;
  color: #f1f1f1;
}

/* override contact form bootstrap */

.mb-42 {
  margin-bottom: 1.5rem!important;
  margin: auto;
  width: 90%;
  border: solid;
  padding: 10px;
  padding-bottom: 1.2rem;
}

.mb-52 {
  margin-bottom: 3rem!important;
  margin: auto;
}

.btn-primary2{
  color: #fff;
  /* background-color: #007bff; */
  border-color: #000000;
}

.sepia_button {
  filter: sepia(1);
}

/* loader */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}


.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 50%;                       /******** <- Remove this line *********/
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
  color: black;
  border-color: #000000;
}

.comment_head {
  border: solid;
  padding: inherit;
  text-align: center;
}

.text-muted-tags {
  border: solid;
  border-width: thin;
  padding: 1px;
  padding: 2px 2px 2px;
  vertical-align: top;
}

.text-muted-tags:hover {
  filter: brightness(0.5);
  box-shadow: 1px 1px 0px#000000;
}

.tag-button {
  box-shadow: 1px 1px 0px#000000;
}

.tag-button:hover {
  box-shadow: 4px 4px 0px#000000;
}

.title-main {
  font-size: 8rem;
  text-align: center;
  color: var(--foreground);
}

.home-title-div {
  border: solid;
}

.link-black {
  text-decoration-style: double;
  text-decoration-color: black;
}

/* Pagination */

#pagination-container {
	 box-sizing: border-box;
	 width: 100%;
	 border: solid 1px red;
	 border: none;
	 position: relative;
	 display: flex;
	 flex-flow: row nowrap;
	 align-items: center;
}

.pag-margin {
  margin: 4px;
}

/* Search style */

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}


.search-box {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}


#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

.search {
  position: relative;
  color: rgba(0, 0, 0, 0.81);
  font-size: 16px;
}


@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 15px;
  left: 10px;
}

/* dark mode */
.dark-mode-toggle {
  position: fixed;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  /* border: 2px solid currentColor; */
  /* padding: 4px; */
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

/* User list page */

.card-comment {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left;
}

.card-user-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  /* float: left; */
  /* margin: 10px; */
}


.title-users-list {
  color: grey;
  font-size: 18px;
}

.button-users-list {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


.button-users-list:hover, a:hover {
  opacity: 0.7;
}

.upload {
  width: 157px;
  height: 57px;
  background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
  overflow: hidden;
}

.upload input {
  display: block !important;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

/********* login ***********/



/* style inputs and link buttons */
.input-login,
.btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.input-login:hover,
.btn-login:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.github {
  background-color: #333;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}


/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  /* padding: 0 50px; */
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

.fa-reddit:hover {
  color: #FF5700;
}

.fa-vk:hover {
  color: #45668e;
}

.fa-linkedin:hover {
  color: #0077b5;
}

/******** Dropdown post detail ********/

.dropbtn {
  background-color: rgb(2, 8, 23);
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right; 
  /* width: 1900px; */
  /* border: 3px solid #73AD21; */
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: fixed;
}

.dropdown-content a {
  color: black;
  padding: 7px 7px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #353935;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.no-link-deco {
  text-decoration: none;
}

.list-sidebar-settings {
  box-shadow: 3px 3px black;
  padding: 3px 10px;
  margin: 3px;
  margin-bottom: 0.7rem;
}

.list-sidebar-settings:hover {
  border: solid;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bg-dark {
  background-color: #282727!important;
}

/******** Dropdown comment author ********/

.dropdown-comment {
  position: relative;
  display: inline-block;
  /* float: right; */
  /* width: 1900px; */
  /* border: 3px solid #73AD21; */
  padding: 10px;
}

.dropdown-content-comment {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-comment a {
  color: black;
  padding: 7px 7px;
  text-decoration: none;
  display: block;
}

.dropdown-content-comment a:hover {background-color: #f1f1f1}

.dropdown-comment:hover .dropdown-content-comment {
  display: block;
}

.drop-comment-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.leftsidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.leftsidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.leftsidenav a:hover {
  color: #064579;
}

.leftmain {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .leftsidenav {padding-top: 15px;}
  .leftsidenav a {font-size: 18px;}
}

.home {
  position: relative;
  /* margin: 0 auto; */
  /* max-width: 1250px; */
  text-align: left;
}

.save-button {
  position: relative;
  display: inline-block;
  float: right; 
  /* width: 1900px; */
  /* border: 3px solid #73AD21; */
  padding: 10px;
}

.save-button-shadow {
  box-shadow: 1px 1px black;
}

.save-button-shadow:hover {
  box-shadow: 2px 2px black;

}

.save-button-saved {
  position: relative;
  display: inline-block;
  float: right; 
  /* width: 1900px; */
  /* border: 3px solid #73AD21; */
  padding: 10px;
  box-shadow: 2px 2px black;
}

.save-button-saved:hover {
  position: relative;
  display: inline-block;
  float: right; 
  /* width: 1900px; */
  /* border: 3px solid #73AD21; */
  padding: 10px;
  box-shadow: 2px 2px black;
}

/****** FOLLOW BUTTON ******/
/* Chrome, Safari, Opera */
@-webkit-keyframes follow-animation {
  from {background: white; color: rgb(9, 23, 36); width: 85px; left: 50px;}
  to {background: #2EB82E; border-color: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
}
@-webkit-keyframes unfollow-animation {
  from {background: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
  to {background: white; border-color: rgb(9, 23, 36); color: rgb(9, 23, 36); width: 85px; left: 50px;}
}

/* Standard syntax */
@keyframes follow-animation {
  from {background: white; color: rgb(9, 23, 36); width: 85px; left: 50px;}
  to {background: #2EB82E; border-color: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
}
@keyframes unfollow-animation {
  from {background: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
  to {background: white; border-color: rgb(9, 23, 36); color: rgb(9, 23, 36); width: 85px; left: 50px;}
}

.input-follow {
  -webkit-appearance: none;
}

.input-follow:after {
  color: #3399FF;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  top: 50px;
  left: 50px;	
  cursor: hand;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;


  content: '+ Follow';
  -webkit-animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}

.input-follow:checked:after {
  content: 'Following';
  -webkit-animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}	