{% load static %}
<!DOCTYPE html>
<html>
<head>

  {% block head %}
      {% include 'blog/head.html' %}
  {% endblock head %}


</head>

{% url 'login' as bhome %}
{% if request.path == bhome %}
<body style="background: linear-gradient(-45deg, #ee7752, #9e6e81, #65a9c1, #8891d0);
    background-size: 400% 400%;">
{% endif %}
{% url 'register' as bregister %}
{% if request.path == bregister %}
<body style="background: linear-gradient(-45deg, #ee7752, #9e6e81, #65a9c1, #8891d0);
    background-size: 400% 400%;">
{% else %}
<body>
{% endif %}

    {% block header %}
      {% include 'blog/header.html' %}
    {% endblock header %}

    
<div class="home">
  <main role="main" class="container-fluid">
    <div class="row">
      
    
          
    {% url 'logout' as out %}
    {% url 'login' as lin %}
    {% url 'register' as reg %}
    {% if request.path == out or request.path == lin or request.path == reg %}

    {% else %}

    <!-- Sidebar -->
    <div class="col-md-auto" style="">
      <div class="align-self-start">

      <div class="content-sectionside">
      
        <div class="container">
        <nav>

        {% if user.is_authenticated %}

          {% url 'user-detail' as udetail %}
          {% if request.path == udetail %}
          <p>{{ udetail }}</p>
        {% else %}
          <a href="{% url 'profile' %}">
            <img class="rounded-circle account-img" src="{{ request.user.profile.image.url }}">
          </a>
          <a href="{% url 'profile' %}" class="article-title" style="text-decoration:none;">
            <h3>@{{ request.user.username }}</h3>
          </a>
          <p class='text-muted'>{{ request.user.email }}</p>
          {% endif %}

        {% else %}

          <h3>Login or register
              And you will
              be able to access
              all features!</h3>

        {% endif %}

          <ul class="mcd-menu">
            <li>
            {% url 'blog-home' as home %}
            {% if request.path == home %}
              <a href="{% url 'blog-home' %}" class="active">
                <i class="fa fa-home"></i>
                <strong>Home</strong>
                <small>you're home</small>
              </a>
            {% else %}
              <a href="{% url 'blog-home' %}">
                <i class="fa fa-home"></i>
                <strong>Home</strong>
                <small>sweet home</small>
              </a>
            {% endif %}
            </li>
            <li>
            {% url 'profile' as profile %}
            {% if request.path == profile %}
              <a href="{% url 'profile' %}" class="active">
                <i class="fa fa-address-book"></i>
                <strong>My account</strong>
                <small>your account page</small>
              </a>
            {% else %}
              <a href="{% url 'profile' %}">
                <i class="fa fa-address-book"></i>
                <strong>My account</strong>
                <small>your account page</small>
              </a>
            {% endif %}
            </li>
            <li>
            {% url 'news' as news %}
            {% if request.path == news %}
              <a href="{% url 'news' %}" class="active">
                <i class="fa fa-globe"></i>
                <strong>RSS</strong>
                <small>you are reading news</small>
              </a>
            {% else %}
              <a href="{% url 'news' %}">
                <i class="fa fa-globe"></i>
                <strong>RSS</strong>
                <small>read some news</small>
              </a>
            {% endif %}
            </li>
            <li>
              <a href="#">
                <i class="fa fa-globe"></i>
                <strong>Resources</strong>
                <small>bunch of docs and links</small>
              </a>
            </li>
            <li>
            {% url 'users-list' as ulist %}
            {% if request.path == ulist %}
              <a href="{% url 'users-list' %}" class="active">
                <i class="fa fa-users"></i>
                <strong>Users</strong>
                <small>discover all users</small>
              </a>
            {% else %}
              <a href="{% url 'users-list' %}">
                <i class="fa fa-users"></i>
                <strong>Users</strong>
                <small>discover all users</small>
              </a>
            {% endif %}
            </li>
            <li>
            {% url 'pollindex' as pindex %}
            {% if request.path == pindex %}
              <a href="{% url 'pollindex' %}" class="active">
                <i class="fa fa-check-square-o"></i>
                <strong>Polls</strong>
                <small>participate in a poll</small>
              </a>
            {% else %}
              <a href="{% url 'pollindex' %}">
                <i class="fa fa-check-square-o" class="active"></i>
                <strong>Polls</strong>
                <small>participate in a poll</small>
              </a>
            {% endif %}
            </li>
            <li>
            {% url 'blog-about' as babout %}
            {% if request.path == babout %}
              <a href="{% url 'blog-about' %}" class="active">
                <i class="fa fa-info-circle"></i>
                <strong>About</strong>
                <small>you are reading about page</small>
              </a>
            {% else %}
              <a href="{% url 'blog-about' %}">
                <i class="fa fa-info-circle"></i>
                <strong>About</strong>
                <small>read our about page</small>
              </a>
            {% endif %}
            </li>
            <li>
            {% url 'blog-contact' as contact %}
            {% if request.path == contact %}
              <a href="{% url 'blog-contact' %}" class="active">
                <i class="fa fa-envelope-o"></i>
                <strong>Contacts</strong>
                <small>drop a line</small>
              </a>
            {% else %}
              <a href="{% url 'blog-contact' %}">
                <i class="fa fa-envelope-o"></i>
                <strong>Contacts</strong>
                <small>drop a line</small>
              </a>
            {% endif %}
            </li>
          </ul>
      {% endif %}
        </nav>
        </div>
      </div>



      
      <!-- Second sidebar -->
      {% url 'blog-home' as bhome %}
      {% if request.path == bhome %}
      <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#newbies</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    <ul>

                    {% for user in latest_user %}
                      <a href="{% url 'user-detail' user.username %}" style="text-decoration:none;">
                        <li style="list-style:none" class="list-sidebar-settings">@{{ user }} joined!</li>
                      </a>
                    {% endfor %}

                    </ul>

                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'post-create' as pcreate %}
        {% if request.path == pcreate %}
        <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#publish</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    {{ publish_page_description.description | safe }}

                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'filter-django' as fdjango %}
        {% if request.path == fdjango %}

        <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#django</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    {{ desc_django.description | safe }}
                    
                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'filter-python' as fpython %}
        {% if request.path == fpython %}

              <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#python</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    {{ desc_python.description | safe }}
                    
                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'filter-sele' as fsele %}
        {% if request.path == fsele %}

        <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#{{ desc_selenium.tag_name }}</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    {{ desc_selenium.description | safe }}
                    
                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'filter-react' as freact %}
        {% if request.path == freact %}

      <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#{{ desc_react.tag_name }}</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    {{ desc_react.description | safe }}
                    
                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'filter-java' as fjava %}
        {% if request.path == fjava %}

      <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#{{ desc_java.tag_name }}</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    {{ desc_java.description | safe }}
                    
                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'filter-csharp' as fcs%}
        {% if request.path == fcs %}

        <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#{{ desc_csharp.tag_name }}</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    {{ desc_csharp.description | safe }}
                    
                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'filter-javascript' as fjs %}
        {% if request.path == fjs %}

        <div class="align-self-start">

        <div class="content-sectionside">
        
          <div class="container">

            <nav>
              
              <h1>#{{ desc_js.tag_name }}</h1>

                <div class="container d-flex justify-content-start">
                  <div class="row">

                    {{ desc_js.description | safe }}
            
                  
                  </div>
                </div>

            </nav>

            </div>

          </div>
        </div>
        {% endif %}
        {% url 'post-detail' as pd %}
        {% if request.path == pd %}

        <div class="align-self-start">
        <div class="content-sectionside">
          <div class="container">
            <nav>  
              <h1>More from @</h1>
                <div class="container d-flex justify-content-start">
                  <div class="row">

                    Something
            
                  </div>
                </div>
            </nav>
            </div>
          </div>
        </div>
        {% endif %}
        
      
    </div>
  </div>

  <!-- end sidebar -->

  <div class="col-6" style="max-width: 55%;">
       
        {% if messages %}
          {% for message in messages %}
            {% url 'login' as login %}
            {% if request.path == login %}
              <div class="alert alert-{{ message.tags }}" style="transform: translate(60%, 0%);">
                {{ message }}
              </div>
            {% else %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        
      <!-- Main content -->  
        {% block content %}
        
        {% endblock %}

    </div>

{% url 'logout' as out %}
{% url 'login' as lin %}
{% url 'register' as reg %}

{% if request.path == out or request.path == lin or request.path == reg %}

{% else %}

  <div class="col" style="margin-top:0px; max-width: 35%;">

    {% block myfeed %}
      {% include 'blog/my_feed_dev.html'%}
    {% endblock myfeed %}

  </div>

{% endif %}


  </main>
  


</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='{% static "blog/highlight.pack.js" %}'></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src='{% static "blog/js/confirmlogout.js" %}'></script>
    <script>

      let confirm = new ConfirmClass();
      confirm.onShow = function () {
        // do something
      };
      confirm.onHide = function () {
        // do something
      };
      function showConfirm () {
        confirm.show({
          title: 'Sign out',
          content: 'Are you sure you want to sign out?',
          btns: [{
            callback: function(instance){
              instance.close = false;
              window.location.replace("{% url 'logout' %}");
              instance.close = true;
              showToast()
            }
          }, {
            text: 'Cancel',
            callback: function(){
              window.location.replace("{% url 'blog-home' %}");
            }
          }],
          onShow: function(){
            console.log('Open!')
          }
        })
      }

      let toast = new ToastClass();
      toast.onShow = function () {
        // on show
      };
      toast.onHide = function () {
        // on hide
      };
      function showToast () {
        toast.show({
          loading: true,
          onShow: function(){
            setTimeout(function(){
              toast.show({
                text: 'Loading Completely',
                duration: 100,
                onHide: function(){
                  // do something
                }
              })
            }, 3000)
          }
        })
      }
    </script>
    <script type="text/javascript" src="{% static 'blog/js/trix.js' %}"></script>
    <script>document.addEventListener("touchstart", function(){}, true);</script>
    <script>

            // check for saved 'darkMode' in localStorage
      let darkMode = localStorage.getItem('darkMode'); 

      const darkModeToggle = document.querySelector('#dark-mode-toggle');

      const enableDarkMode = () => {
        // 1. Add the class to the body
        document.body.classList.add('darkmode');
        // 2. Update darkMode in localStorage
        localStorage.setItem('darkMode', 'enabled');
      }

      const disableDarkMode = () => {
        // 1. Remove the class from the body
        document.body.classList.remove('darkmode');
        // 2. Update darkMode in localStorage 
        localStorage.setItem('darkMode', null);
      }
      
      // If the user already visited and enabled darkMode
      // start things off with it on
      if (darkMode === 'enabled') {
        enableDarkMode();
      }

      // When someone clicks the button
      darkModeToggle.addEventListener('click', () => {
        // get their darkMode setting
        darkMode = localStorage.getItem('darkMode'); 
        
        // if it not current enabled, enable it
        if (darkMode !== 'enabled') {
          enableDarkMode();
        // if it has been enabled, turn it off  
        } else {  
          disableDarkMode(); 
        }
      });

    </script>

    <script>

      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $(document).ready(function(){
        {% block domready %}
        {% endblock %}
        });
        
    </script>

    <script>  
    $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');

          // toggle data-action
          $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // toggle link text
          //$('a.follow').text(
            //previous_action == 'follow' ? 'Biteff' : 'Bite');
          $('a.follow').html(
            previous_action == 'follow' ? '<input type="checkbox" class="input-follow" checked="checked"/>' : '<input type="checkbox" class="input-follow"/>')

          // update total followers
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);
        }
      }
    );
  });
    </script>

    <script>
      var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
    </script>

<footer style="text-align: center;">
  <p>&copy;<a href="jeremyfaret@gmail.com"> jeremyfaret@gmail.com</a></p>
</footer>
    
</body>
</html>
