{% block comments %}

{% load crispy_forms_tags %}
{% load static %}


<div class="container">
  
    <div class="col-md-8">
      <div class="card-body" style="width: 700px;">
        <!-- comments -->
        {% with comments.count as total_comments %}
        <h4 style="text-align:center;"><span style="box-shadow: 2px 2px 2px; padding: 9px; background-color: beige;">{{ total_comments }}</span> comments</h4>

        <p>
          {% endwith %} {% for comment in comments %}
        </p>

        <div class="comments" style="padding: 10px;">
          <div class="dropdown-comment" style="padding:0px;">
            <a href="{% url 'user-detail' comment.author %}" style="text-decoration:none;">
              <p class="font-weight-bold">

                {{ comment.author }}
                
            </a>

              <!-- Profile card on hover -->

              <div class="dropdown-content-comment">
                  <div class="drop-comment-content">
                    <div class="container">
                      <div class="row">
                        <a href="{% url 'user-detail' comment.author %}">
                          <img class="rounded-circle account-img" src="{{ comment.author.profile.image.url }}" href="{% url 'user-detail' comment.author %}" style="width:40px;height:40px;">
                        </a>
                        {% if comment.author.profile.github_link %}
                        <a href="{{ oc }}">
                          <img style="width:30px;height:30px;" src="{% static 'assets/logos/github.svg' %}" alt="github_logo">
                        </a>
                        {% else %}
                        <a href="#{{ comment.author }}didnotset">
                          <img style="width:30px;height:30px;" src="{% static 'assets/logos/github.svg' %}" alt="github_logo">
                        </a>
                        {% endif %}
                        {% if comment.author.profile.linkedin_link %}
                        <a href="{{ comment.author.profile.linkedin_link }}">
                          <img style="width:30px;height:30px;" src="{% static 'assets/logos/linkedin.svg' %}" alt="linkedin_logo">
                        </a>
                        {% else %}
                        <a href="#{{ comment.author }}didnotset">
                          <img style="width:30px;height:30px;" src="{% static 'assets/logos/linkedin.svg' %}" alt="linkedin_logo">
                        </a>
                        {% endif %}

                    </div>

                      <h2><a href="{% url 'user-detail' comment.author %}" style="text-decoration:none;">@{{ comment.author }}</a></h2>
                      <p>{{ comment.author.profile.bio }}</p>
                      <p style="font-size: 10px;"><span class="text-muted">Joined on:</span> {{ comment.author.profile.user.date_joined|date:"D d M Y"  }}</p>
                      <p style="font-size: 10px;"><span class="text-muted">Last login:</span> {{ comment.author.profile.user.last_login|date:"D d M Y"  }}</p>
                      {% if not request.user.id == comment.author.profile.user.id %}
                        <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in comment.author.profile.user.followers.all %}un{% endif %}follow" class="follow button">

                        {% if request.user not in comment.author.profile.user.followers.all %}
                          <input type="checkbox" class="input-follow"/>
                        {% else %}
                          <input type="checkbox" class="input-follow" checked="checked"/>
                        {% endif %}
                      {% endif %}
              </a>
                    </div>

                  </div>
              </div>
            </div>


              <span class="text-muted font-weight-normal">
                {{ comment.created_on |  date:'Y-m-d H:i' }}
              </span>

            </p>

          {{ comment.body | linebreaks }}

        </div>

        {% endfor %}
      </div>

    </div>

      <div class="d-flex flex-column bd-highlight mb-3">
      
        <div class="card-body">

          {% if new_comment %}

          <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
          </div>

          {% else %}

          <h4 style="border: solid; text-align: center;">Leave a <span style="box-shadow: 2px 2px 2px; padding: 9px; background-color: beige;">comment</span></h4>
          <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg" style="background-color: transparent; border-color: black; color: black; padding: 3px; box-shadow: 3px 3px;">Submit</button>
          </form>
          
          {% endif %}

        </div>

      </div>
  
</div>


{% endblock comments %}