{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!--Section: Contact v.2-->
<section class="mb-42">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/mail.svg' %}" alt="contact"> Contact
    </h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact me directly via jeremy.faret@gmail.com or the form below</p>

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-52">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">
                
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            {{ form.from_email|as_crispy_field }}
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            {{ form.subject|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            {{ form.message|as_crispy_field }}
                        </div>

                    </div>

                </div>
                <!--Grid row-->

            

            <div class="text-center text-md-left">
                <button class="btn btn-primary2" type="submit" style="background-color: transparent; border-color: black; color: black;">Send</button>
            </div>
            <div class="status"></div>
        </div>
        
        <!--Grid column-->

    </div>
    </form>

</section>
<!--Section: Contact v.2-->
{% endblock content %}
