{% block filterbuttons %}

{% load static %}

<div class="">

    {% url 'filter-python' as fpython %}
    {% if request.path == fpython %}

      <a href="{% url 'filter-python' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black;" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/python.svg' %}" alt="python">
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-python' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/python.svg' %}" alt="python"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-django' as fdjango %}
    {% if request.path == fdjango %}

      <a href="{% url 'filter-django' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/django.svg' %}" alt="django"> 
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-django' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/django.svg' %}" alt="django"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-sele' as fsele %}
    {% if request.path == fsele %}

      <a href="{% url 'filter-sele' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/selenium.svg' %}" alt="selenium"> 
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-sele' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/selenium.svg' %}" alt="selenium"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-react' as freact %}
    {% if request.path == freact %}

      <a href="{% url 'filter-react' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/react.svg' %}" alt="react"> 
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-react' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/react.svg' %}" alt="react">
      </button>
      </a>

    {% endif %}

    {% url 'filter-java' as fjava %}
    {% if request.path == fjava %}

      <a href="{% url 'filter-java' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black;" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/java.svg' %}" alt="java">
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-java' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/java.svg' %}" alt="java"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-javascript' as fjs %}
    {% if request.path == fjs %}

      <a href="{% url 'filter-javascript' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black;" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/js.svg' %}" alt="js">
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-javascript' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/js.svg' %}" alt="js"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-csharp' as fcsharp %}
    {% if request.path == fcsharp %}

      <a href="{% url 'filter-csharp' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black;" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/csharp.svg' %}" alt="csharp">
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-csharp' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/csharp.svg' %}" alt="csharp"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-maths' as fmaths %}
    {% if request.path == fmaths %}

      <a href="{% url 'filter-maths' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black;" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/maths.svg' %}" alt="maths">
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-maths' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/maths.svg' %}" alt="maths"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-cybersec' as fcyber %}
    {% if request.path == fcyber %}

      <a href="{% url 'filter-cybersec' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black;" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/cybersec.svg' %}" alt="cybersec">
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-cybersec' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/cybersec.svg' %}" alt="cybersec"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-algo' as falgo %}
    {% if request.path == falgo %}

      <a href="{% url 'filter-algo' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black;" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/algo.svg' %}" alt="cybersec">
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-algo' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/algo.svg' %}" alt="algo"> 
      </button>
      </a>

    {% endif %}

    {% url 'filter-discussion' as fdisc %}
    {% if request.path == fdisc %}

      <a href="{% url 'filter-discussion' %}">
      <button style="margin:15px; box-shadow: 4px 4px 0px#000000; border-color:black;" type="button" class="btn btn-outline-default waves-effect">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/discussion.svg' %}" alt="discussion">
      </button>
      </a>

    {% else %}

      <a href="{% url 'filter-discussion' %}">
      <button style="margin:15px;" type="button" class="btn btn-outline-default waves-effect tag-button">
        <img style="width:30px;height:30px;" src="{% static 'assets/logos/discussion.svg' %}" alt="discussion"> 
      </button>
      </a>

    {% endif %}

</div>


{% endblock filterbuttons %}