{% block head %}
{% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTIuGtI6zCyYGaiQBG31QwVkdglXOQXvrVHNYuVgafT6vMgcfOT&usqp=CAU">

    <!-- Bootstrap CSS -->
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Personalized CSS/JS -->

    <link href='{% static "blog/github.css" %}?version=4' rel="stylesheet">
    <link href='{% static "chat/css/style.css" %}?version=2' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}?version=67">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/trix.css' %}">

    <script type="text/javascript" src="{% static 'blog/js/scroll/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/scroll/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/scroll/infinite.min.js' %}"></script>

    {{ form.media }}

    {% if title %}
        <title>DOTpost - {{ title }}</title>
    {% else %}
        <title>DOTpost</title>
    {% endif %}

{% endblock head %}