{% extends "blog/base.html" %}
{% load i18n static custom_tag %}
{% load static %}

{% block content %}

<!-- main title displayed if condition-->
    
    {% url 'filter-python' as fpython %}
    {% if request.path == fpython %}

    <div class="home-title-div" style="box-shadow: 1px 4px darkblue;">
      <h1 class="title-main">PYTHON</h1>
      <a style="text-decoration: none; text-decoration-color: black;" href="https://www.python.org/">
        <h4 style="text-align: center;">Get Python</h4>
      </a>
    </div>
    
    {% endif %}
    
    {% url 'filter-django' as fdjango %}
    {% if request.path == fdjango %}

    <div class="home-title-div" style="box-shadow: 1px 4px darkgreen;">
      <h1 class="title-main">DJANGO</h1>
      <a style="text-decoration: none; text-decoration-color: black;" href="https://www.djangoproject.com/">
        <h4 style="text-align: center;">Get Django</h4>
      </a>
    </div>
    
    {% endif %}

    {% url 'filter-sele' as fsele %}
    {% if request.path == fsele %}

    <div class="home-title-div" style="box-shadow: 1px 4px lightgreen;">
      <h1 class="title-main">SELENIUM</h1>
      <a style="text-decoration: none; text-decoration-color: black;" href="https://www.selenium.dev/">
        <h4 style="text-align: center;">Get Selenium</h4>
      </a>
    </div>

    {% endif %}

    {% url 'filter-react' as freact %}
    {% if request.path == freact %}

    <div class="home-title-div" style="box-shadow: 1px 4px #91bdec;">
      <h1 class="title-main">REACT</h1>
      <a style="text-decoration: none; text-decoration-color: black;" href="https://reactjs.org/">
        <h4 style="text-align: center;">Get React</h4>
      </a>
    </div>

    {% endif %}

    {% url 'filter-java' as fjava %}
    {% if request.path == fjava %}

    <div class="home-title-div" style="box-shadow: 1px 4px orange;">
      <h1 class="title-main">JAVA</h1>
      <a style="text-decoration: none; text-decoration-color: black;" href="#">
        <h4 style="text-align: center;">Get Java</h4>
      </a>
    </div>

    {% endif %}

    {% url 'filter-javascript' as fjs %}
    {% if request.path == fjs %}

    <div class="home-title-div" style="box-shadow: 1px 4px yellow;">
      <h1 class="title-main" style="font-size:7rem;">JavaScript</h1>
      <a style="text-decoration: none; text-decoration-color: black;" href="#">
        <h4 style="text-align: center;">Explore JS</h4>
      </a>
    </div>

    {% endif %}

    {% url 'filter-maths' as fmaths %}
    {% if request.path == fmaths %}

    <div class="home-title-div" style="box-shadow: 1px 4px darkblue;">
      <h1 class="title-main">Maths</h1>
        <h4 style="text-align: center;">Latest maths posts</h4>
    </div>

    {% endif %}

    {% url 'filter-csharp' as fcsharp %}
    {% if request.path == fcsharp %}

    <div class="home-title-div" style="box-shadow: 1px 4px darkblue;">
      <h1 class="title-main">C#</h1>
      <a style="text-decoration: none; text-decoration-color: black;" href="#">
        <h4 style="text-align: center;">Get C#</h4>
      </a>
    </div>

    {% endif %}

    {% url 'filter-algo' as falgo %}
    {% if request.path == falgo %}

    <div class="home-title-div" style="box-shadow: 1px 4px black;">
      <h1 class="title-main" style="font-size:6rem;">Algorithms</h1>
        <h4 style="text-align: center;">Latest post about algoritms</h4>
    </div>

    {% endif %}

    {% url 'filter-cybersec' as fcs %}
    {% if request.path == fcs %}

    <div class="home-title-div" style="box-shadow: 1px 4px brown;">
      <h1 class="title-main" style="font-size:5rem;">Cyber Security</h1>
        <h4 style="text-align: center;">Latest cyber securty threats talks</h4>
    </div>

    {% endif %}

    {% url 'filter-discussion' as fdisc %}
    {% if request.path == fdisc %}

    <div class="home-title-div" style="box-shadow: 1px 4px darkred;">
      <h1 class="title-main" style="font-size:6rem;">Dicussions</h1>
        <h4 style="text-align: center;">Latest discussions about various topics</h4>
    </div>

    {% endif %}
    
    {% url 'blog-home' as findex %}
    {% if request.path == findex %}

    <div class="home-title-div" style="box-shadow: 0px 4px black;">
      <h1 class="title-main">HOME</h1>
      <p style="text-align:center;">Latest posts from the community</p>
    </div>

    {% endif %}

    <!-- Categories homepage buttons - left sidebar -->

{% block filterbuttons %}
    {% include 'blog/filter_buttons_dev.html' %}
{% endblock filterbuttons %}

    {% url 'filter-django' as fdjango %}
    {% if request.path == fdjango %}

      {% for post in django %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                  <a href="{% url 'filter' tag|lower %}/">
                    <small class="text-muted text-muted-tags">#{{ tag }}</small>
                  </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}

    {% url 'filter-python' as fpython %}
    {% elif request.path == fpython %}

      {% for post in python %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}

    {% url 'filter-sele' as fsele %}
    {% elif request.path == fsele %}

      {% for post in selenium %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}
    
    {% url 'filter-react' as freact %}
    {% elif request.path == freact %}

      {% for post in react %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}

    {% url 'filter-java' as fjava %}
    {% elif request.path == fjava %}

      {% for post in java %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}
    
    {% url 'filter-javascript' as fjs %}
    {% elif request.path == fjs %}

      {% for post in javascript %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}
    
    {% url 'filter-maths' as fmaths %}
    {% elif request.path == fmaths %}

      {% for post in maths %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}
    
    {% url 'filter-csharp' as fcs %}
    {% elif request.path == fcs %}

      {% for post in csharp %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}
    
    {% url 'filter-discussion' as fdisc %}
    {% elif request.path == fdisc %}

      {% for post in discussion %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}
    
    {% url 'filter-algo' as falgo %}
    {% elif request.path == falgo %}

      {% for post in algorithms %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}
    
    {% url 'filter-cybersec' as fcyber%}
    {% elif request.path == fcyber %}

      {% for post in cybersecurity %}
      
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
            </div>
          </article>

      {% endfor %}

    {% else %}

    <div class="infinite-container">

      {% for post in posts %}

          <div class="infinite-item">
          <article class="media content-sectionmain">
            <a href="{% url 'user-detail' post.author.username %}">
              <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
            <div class="media-body">
              <div class="article-metadata">
                {% comment %} <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> {% endcomment %}
                <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
              </div>
              <!-- post detail access -->
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% comment %} <p class="article-content">{{ post.content | slice:":200" | safe }}...</p> {% endcomment %}
              <small class="text-muted">{{ post.comments.count }} comments</small>
              {% if post.like_set.count <= 1 %}
              <small class="text-muted">| {{ post.like_set.all|length }} like</small>
              {% else %}
              <small class="text-muted">| {{ post.like_set.all|length }} likes</small>
              {% endif %}
            </div>
          </article>
          </div>

      {% endfor %}

    </div>

    {% endif %}

    <!--
    {% if is_paginated %}
    <div id="pagination-container">
      <div id="container"></div>
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4 pag-margin" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4 pag-margin" href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}

        {% if page_obj.number == num %}
          <a class="btn btn-outline-info mb-4 pag-margin" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4 pag-margin" href="?page={{ num }}">{{ num }}</a>
        {% endif %}

      {% endfor %}
    

      {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4 pag-margin" href="?page={{ page_obj.next_page_number }}">></a>
          <a class="btn btn-outline-info mb-4 pag-margin" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      
      {% endif %}
    </div>
    {% endif %}
    -->

    <!--
    {% if is_paginated %}
    <div id="pagination-container">
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4 pag-margin" href="?page=1">Back first</a>
      {% endif %}

      {% if page_obj.has_next %}

          <a class="btn btn-outline-info mb-4 pag-margin" href="?page={{ page_obj.next_page_number }}">Load more</a>
      
      {% endif %}
    </div>
    {% endif %}
    -->

    <div class="loading" style="display: none;">
      Loading...
    </div>

    {% if is_paginated %}
      {% if page_obj.has_next %}
          <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
      {% endif %}
    {% endif %}


{% endblock content %}
