{% block myfeed %}

{% if user.is_authenticated %}
<div class="align-self-start">

    <div class="content-sectionside-feed">
      
        <div class="container">
            <nav>
            
            <div class="border-boxx" style="box-shadow: 3px 3px; background: white;">
                <h1 style="border: solid; text-align: center;">Feed</h1>
            </div>

                <h1 style="font-weight: bold;">>Last actions</h1>
                
                {% with user=action.user profile=action.user.profile %}
                        <ul style="padding-left:15px;"'>
                        {% if actions%}
                            {% for action in actions %}
                                {% if action.target %}
                                    {% with target=action.target %}
                                        <li style="padding: 6px; font-size: 14px;">{{ action.created|timesince }} ago | <a href="{% url 'user-detail' action.user %}" style="text-decoration:none;">@{{ action.user }}</a> {{ action.verb }} {% if target == request.user %}you!{% else %}{{ target }}{% endif %}</li>      
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <p>You are not following any user yet...</p>
                        {% endif %}
                        </ul>
                {% endwith %}
               
                <h1 style="font-weight: bold;">>Liked</h1>

                {% if likes %}
                    <ul style="padding-left:15px;"'>
                    {% for like in likes %}
                        <a href="{% url 'post-detail' like.post.id %}" style="text-decoration:none;">
                            <li style="padding: 6px; font-size: 14px;">{{ like }}</li>
                        </a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>You liked nothing yet...</p>
                {% endif %}

                <h1 style="font-weight: bold;">>Saved</h1>
                {% if saved%}
                    <ul style="padding-left:15px;"'>
                    {% for save in saved %}
                        <a href="{% url 'post-detail' save.post.id %}" style="text-decoration:none;">
                            <li style="padding: 6px; font-size: 14px;">{{ save }}</li>
                        </a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No posts saved yet...</p>
                {% endif %}
            
            </nav>

        </div>
    </div>
</div>

{% endif %}

<div class="align-self-start">
    <div class="content-sectionside-feed-second">
        <div class="container">
            <nav>

                <h1 style="border-bottom: solid;">#python</h1>
                <ul>
                {% for py in python %}
                <div class="card-news">
                    <div class="card-body" style="padding: 2px;">
                        <a href="{% url 'post-detail' py.id %}" style="text-decoration:none;">
                            <h5 class="card-title" style="padding:Opx;">{{ py.title }}</h5>
                        </a>
                        <span class="material-icons" style="font-size:14px">forum</span> {{ py.comments.count }}
                    </div>
                </div>
                {% endfor %}
                </ul>
            
            </nav>
        </div>
    </div>
</div>

<div class="align-self-start">

    <div class="content-sectionside-feed-second">
      
        <div class="container">
            <nav>

                <h1 style="border-bottom: solid;">#discussion</h1>
                <ul>
                {% for disc in discussion %}
                <div class="card-news">
                    <div class="card-body" style="padding: 2px;">
                        <a href="{% url 'post-detail' disc.id %}" style="text-decoration:none;">
                            <h5 class="card-title" style="padding:Opx;">{{ disc.title }}</h5>
                        </a>
                    <span class="material-icons" style="font-size:14px">forum</span> {{ disc.comments.count }}
                    </div>
                </div>
                {% endfor %}
                </ul>
            </nav>

        </div>
    </div>
</div>

<div class="align-self-start">
    <div class="content-sectionside-feed-second">
        <div class="container">
            <nav>
                <div style="border-bottom: solid;">
                    <h1 style="margin: 0px;"><img src="https://img.icons8.com/color/48/000000/hacker-news.png"/>#HackerNews</h1><p style="margin-bottom: 0rem;">Latest</p>
                </div>
                <ul>
                {% for entry in feed.entries|slice:"7" %}
                <div class="card-news">
                    <div class="card-body" style="padding:0.5rem;">
                        <a href="{{ entry.link }}" style="text-decoration:none;">
                            <h5 class="card-title" style="font-size:1rem;">{{ entry.title }}</h5>
                        </a>
                        <p class="text-muted">Published: {{ entry.published }}</p>                            
                    </div>
                </div>
            {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock myfeed %}