{% extends "blog/base.html" %}
{% block content %}

<div class="home-title-div">
    <h1 class="title-main">NEWS</h1>
</div>

<div class="container content-section">

    <form class="form-inline">

        <div class="form-group mx-sm-3 mb-2">

            <label style="padding: 12px; font-size: large;" for="topics">Choose a topic -</label>

            <select name="url" id="topics" onchange="this.form.submit(); myFunction(this.options[this.selectedIndex].value)">
                <option></option>
                <option value="https://hnrss.org/newest?q=Python">Python</option>
                <option value="https://hnrss.org/newest?q=Django">django</option>
                <option value="https://hnrss.org/newest?q=Selenium">Selenium</option>
                <option value="https://hnrss.org/newest?q=React">React</option>
                {% if rss %}
                    {% for f in rss %}
                    <option value="{{ f.feed_url }}">{{ f.feed_name }}</option>
                    {% endfor %}
                {% endif %}
            </select>

        </div>

    </form>

    {% if feed %}

        {% if feed.entries %}

            {% for entry in feed.entries %}

                <div class="card-news">

                        <div class="card-body">

                            <a href="{{ entry.link }}">
                                <h5 class="card-title">{{ entry.title }}</h5>
                            </a>

                            <p>Published: {{ entry.published }}</p>                            

                        </div>

                </div>

            {% endfor %}

        {% endif %}

    {% else %}

        <br />
        <p>Select your favorite RSS feed above.</p>

    {% endif %}

    {{ feed2 }}

</div>

{% endblock content %}
