{% extends "blog/base.html" %}

{% load crispy_forms_tags %}
{% load custom_tag %}
{% block content %}

    <div class="container">
            
        <article class="media content-section-article">
            
            <a href="{% url 'user-detail' post.author.username %}">
                <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            </a>
                <div class="media-body">
                  <div class="article-metadata">
                      <a class="mr-2" href="{% url 'user-detail' post.author.username %}">{{ post.author }}</a>

                      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                       
                    {% if not is_liked  %}
                    <a href="{{ post.get_like_url }}"><img src="https://img.icons8.com/ios/64/000000/good-quality.png" style="width: 20px;"/></a>
                    {% else %}
                    <a href="{{ post.get_like_url }}"><img src="https://img.icons8.com/ios-filled/64/000000/good-quality.png" style="width: 20px;"/></a>
                    {% endif %}
                    {% if not is_unliked %}
                    <a href="{{ post.get_unlike_url }}"><img src="https://img.icons8.com/ios/50/000000/poor-quality.png" style="width: 20px;"/></a>
                    {% else %}
                    <a href="{{ post.get_unlike_url }}"><img src="https://img.icons8.com/ios-filled/50/000000/poor-quality.png" style="width:20px;"/></a>
                    {% endif %}
                    
                  <div>


                
                {% if post.author == user %}
                
                <div class="container">

                    <div class="dropdown">
                        <button class="dropbtn">Update</button>
                        <div class="dropdown-content">
                        <a href="{% url 'post-update' post.id %}"><i class="material-icons" style="font-size: 12px;">&#xe22b;</i> Update post</a>
                        <a href="{% url 'post-delete' post.id %}"><i class="material-icons" style="font-size: 12px;">&#xe872;</i> Delete post</a>
                        </div>
                    </div>
                </div>

                {% endif %}

                    <div class="save-button">
                      {% if not is_saved %}
                        <a href="{{ post.get_save_url }}">
                          <button type="button" class="btn btn-secondary save-button-shadow"><span class="material-icons" style="font-size: 18px;">bookmark_border</span></i>SAVE</button>
                        </a>
                        {% else %}
                        <a href="{{ post.get_unsave_url }}">
                          <button type="button" class="btn btn-secondary save-button-shadow"><span class="material-icons" style="font-size: 18px;">bookmark</span>SAVED</button>
                        </a>
                      {% endif %}
                    </div>

                {% for tag in object.tags.all %}

                    <a class="btn btn-sm mt-1 mb-1" style="border-color:black;" href="{% url 'filter' tag|lower %}/">#{{ tag }}</a>
                    
                {% endfor%}

                <div class="card-right">
                    {% if post.like_set.count <= 1 and post.unlike_set.count <= 1 %}
                    <p class="text-muted">{{post.like_set.all|length}} like | {{post.unlike_set.all|length}} dislike</p>
                    {% elif post.like_set.count > 1 and post.unlike_set.count <= 1 %}
                    <p class="text-muted">{{post.like_set.all|length}} likes | {{post.unlike_set.all|length}} dislike</p>
                    {% elif post.like_set.count <= 1 and post.unlike_set.count > 1 %}
                    <p class="text-muted">{{post.like_set.all|length}} like | {{post.unlike_set.all|length}} dislikes</p>
                    {% elif post.like_set.count > 1 and post.unlike_set.count > 1 %}
                    <p class="text-muted">{{post.like_set.all|length}} likes | {{post.unlike_set.all|length}} dislikes</p>
                    {% endif %}
                </div>

            </div>
     
    </div>

          <h2 class="article-title" style="font-size: -webkit-xxx-large;">{{ post.title }}</h2>
          <p class="article-content">{{ post.content | safe }}</p>


            
            <div class="" style="border-top: 1px solid #dedbdb; padding: 6px;">
              Share this post| 

                <a href="http://reddit.com/submit?url={{ request.path }}&amp;title={{ post.title }}" target="_blank">
                  <i class="fa fa-reddit fa-fw" alt="Reddit"></i>
                </a>
                <a href="https://twitter.com/share?url={{ request.path }}&amp;text={{ post.title }}&amp;hashtags=" target="_blank">
                  <i class="fa fa-twitter fa-fw" alt="Twitter"></i>
                </a>
                <a href="http://vkontakte.ru/share.php?url={{ request.path }}" target="_blank">
                  <i class="fa fa-vk fa-fw" alt="VK"></i>
                </a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.path }}" target="_blank">
                  <i class="fa fa-linkedin fa-fw" alt="LinkedIn"></i>
                </a>
                
            </div>

            <div class="">
            {% if similar_posts %}
              <p>Similar posts|{% for post in similar_posts %}<a href="{% url 'post-detail' post.id %}" style="text-decoration:none;"> {{ post.title }}</a>, {% endfor %}</p>
            {% endif %}
            </div>

          </div>
        </div>


           <!-- Comment -->

          <div class="content-section-comments">
        
            {% block comments %}
              {% include 'blog/comments.html' %}
            {% endblock comments %}

          </div>

        </article>
        
{% endblock content %}
