{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

<head>
    {{ form.media }}
</head>

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                {% url 'post-create' as pcreate %}
                {% if request.path == pcreate %}
                <legend class="border-bottom mb-4" style="font-size:2rem; border: solid; text-align: center; box-shadow: 3px 3px;">Create post</legend>
                {% else %}
                <legend class="border-bottom mb-4" style="font-size:2rem; border: solid; text-align: center; box-shadow: 3px 3px;">Update post</legend>
                {% endif %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit" style="background-color: transparent; border-color: black; color: black; padding: 3px; box-shadow: 3px 3px;" onclick="showToast()">Publish</button>
            </div>
        </form>
    </div>
{% endblock content %}
