{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>

<!-- Categories homepage buttons -->

    <button style="margin:15px"type="button" class="btn btn-outline-default waves-effect">
      <img style="width:30px;height:30px;" src="{% static 'assets/logos/python.svg' %}" alt="python"> Python
    </button>
    <button style="margin:15px; border-color:black"type="button" class="btn btn-outline-default waves-effect">
      <img style="width:30px;height:30px;" src="{% static 'assets/logos/Django.svg' %}" alt="python"> Django
    </button>
    <button style="margin:15px"type="button" class="btn btn-outline-default waves-effect">
      <img style="width:30px;height:30px;" src="{% static 'assets/logos/Selenium.svg' %}" alt="python"> Selenium
    </button>
    <button style="margin:15px"type="button" class="btn btn-outline-default waves-effect">
      <img style="width:30px;height:30px;" src="{% static 'assets/logos/React.svg' %}" alt="python"> React
    </button>

    {% for post in posts %}
    
        <article class="media content-section">
          <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
            </div>
            <!-- post detail access -->
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          </div>
        </article>

    {% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><<</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}

        {% if page_obj.number == num %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}

      {% endfor %}
    

      {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">>></a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
    
{% endblock content %}
