{% extends "blog/base.html" %}

{% load static %}
{% block content %}

    <!-- display profile -->
    <div class="content-section" style="filter: drop-shadow(1px 2px 2px black);">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="border: dashed thin; border-color: cadetblue;">
        <div class="media-body">
          <h2 class="account-heading">@{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }} | joined: {{ user.date_joined|date:"D d M Y" }}</p>{% with total_followers=user.followers.count %}<p class="text-secondary" style="text-align: center; border: solid thin; width: 100px; box-shadow: 1px 1px;">{{ total_followers }} follower{{ total_followers|pluralize }}</p>{% endwith %}
          {% if user.profile.github_link %}
          <a href="{{ user.profile.github_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/github.svg' %}" alt="github_logo">
          </a>
          {% else %}
          <a href="#{{ user.username }}didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/github.svg' %}" alt="github_logo">
          </a>
          {% endif %}
          {% if user.profile.linkedin_link %}
          <a href="{{ user.profile.linkedin_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/linkedin.svg' %}" alt="linkedin_logo">
          </a>
          {% else %}
          <a href="#{{ user.username }}didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/linkedin.svg' %}" alt="linkedin_logo">
          </a>
          {% endif %}
          {% if user.profile.gitlab_link %}
          <a href="{{ user.profile.gitlab_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/twitter.svg' %}" alt="twitter_logo">
          </a>
          {% else %}
          <a href="{{ user.username }}#didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/twitter.svg' %}" alt="twitter_logo">
          </a>
          {% endif %}
          {% if user.profile.twitter_link %}
          <a href="{{ user.profile.twitter_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/gitlab.svg' %}" alt="gitlab_logo">
          </a>
          {% else %}
          <a href="{{ user.useranme }}#didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/gitlab.svg' %}" alt="gitlab_logo">
          </a>
          {% endif %}
          {% if user.profile.website_link %}
          <a href="{{ user.profile.twitter_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/external-link.svg' %}" alt="external-link_logo">
          </a>
          {% else %}
          <a href="{{ user.username }}#didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/external-link.svg' %}" alt="external-link_logo">
          </a>
          {% endif %}

        <!-- Follow button -->
        {% if not request.user.id == user.id %}
          {% with total_followers=user.followers.count %}
            <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
                  {% if request.user not in user.followers.all %}
                    <input type="checkbox" class="input-follow"/>
                  {% else %}
                    <input type="checkbox" class="input-follow" checked="checked"/>
                  {% endif %}
            </a>
          {% endwith %}
        {% else %}
        {% endif %}


        </div>
      </div>

    </div>

    <!-- Profile display -->

      <div class="content-section" style="filter: drop-shadow(1px 2px 2px black);">
          <div class="container">
              <legend class="border-bottom mb-4" style="text-align: center;">Bio</legend>
              {% if user.profile.bio %}
                <p>{{ user.profile.bio }}</p>
              {% else %}
                <p>It looks like this user didn't share anything about himself!</p>
              {% endif %}
            </div>
          </div>
      <div class="content-section" style="filter: drop-shadow(1px 2px 2px black);">

          <fieldset class = "form-group">
              <legend class="border-bottom mb-4" style="text-align: center;">Profile Info</legend>
              {% if user.profile.interest %}
              <p>Interested in: {{ user.profile.interest }}</p>
              {% else %}
              <p>Interested in: {{ user.username|title }} did notmention any interests</p>
              {% endif %}
              {% if user.profile.location %}
              <p>Location: {{ user.profile.location }}</p>
              {% else %}
              <p>Location: {{ user.username|title }} doesn't live anywhere. A man without border</p>
              {% endif %}
              <p>Birth date: {{ user.profile.birth_date }}</p>

          </fieldset>
      </div>

      {% if user.profile.stack %}
      <!-- Stack display  -->
      <div class="content-section" style="filter: drop-shadow(1px 2px 2px black);">
          <div class="container">
            <legend class="border-bottom mb-4" style="text-align: center;">Stack</legend>
                
                <div class="container">
                  <div class="row">
                    {% for lang in user.profile.stack.all %}
                    <div class="col-sm">
                      <p><img style="width:25px; background:transparent;" src="{{ lang.stack_thumb.url }}"> {{ lang.stack_name }}</p>
                    </div>
                    {% endfor %}
                  </div>
                </div>
          </div>
        </div>
        {% endif %}

    <div class="content-section" style="border: solid;">

      <h2 class="testyy">{{ user.username}}'s latest posts</h2>

    {% if posts %}

          {% for post in posts %}
    
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-posts' post.author.username %}"></a>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
                </div>
                <!-- post detail access -->
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                {% for tag in tags %}
                  <p>#{{ tag }}</p>
                {% endfor %}
              </div>
            </article>
      
          {% endfor %}

    {% else %}

     <p>Nothing posted by this user yet :(</p>

    {% endif %}

    </div>

    <div class="content-section" style="border: solid;">

      <h2 class="testyy">{{ user.username}}'s latest comments</h2>

        {% if comments %}

          {% for comm in comments %}

          <article class="media content-section" style="margin-bottom: 0px">

            <p>> "{{ comm.body }}" from post: <a href="{% url 'post-detail' comm.post.id %}" style="text-decoration:none;">{{ comm.post }}</a></p>
        
          </article>
          {% endfor %}

        {% else %}
          <p>No comments from this user yet!</p>
        {% endif %}

    </div>
    
{% endblock content %}
