{% extends "blog/base.html" %}

{% block content %}

    <div class="card-columns">
        

            {% for user in users %}
            
            <div class="card" style="border:0px;">

                <div class="card-user-list">

                    <img src="{{ user.profile.image.url }}" alt="John" style="width:100%">
                    <a href="{% url 'user-detail' user.username %}" style="text-decoration:none;">
                        <h1 style="font-size: x-large;">@{{ user }}</h1>
                    </a>

                    

                    <p class="title-users-list">{{ user.profile.location }}</p>
                    {% if user.profile.interest %}
                    <p>{{ user.profile.interest }} lover</p>
                    {% else %}
                    {% endif %}

                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    {% if user.profile.github_link %}
                    <a href="{{ user.profile.github_link }}" target="_blank"><i class="fa fa-github"></i></a>
                    {% else %}
                    <a href="#{{ user }}didnotset" target="_blank"><i class="fa fa-github"></i></a>
                    {% endif %}
                    {% if user.profile.linkedin_link %}
                    <a href="{{ user.profile.linkedin_link }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                    {% else %}
                    <a href="#{{ user }}didnotset" target="_blank"><i class="fa fa-linkedin"></i></a>
                    {% endif %}
                    
                    {% if not request.user.id == user.id %}
                        {% with total_followers=user.followers.count %}
                            <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
                                {% if request.user not in user.followers.all %}
                                    <input type="checkbox" class="input-follow" style="padding: 15px;"/>
                                {% else %}
                                    <input type="checkbox" class="input-follow" checked="checked" style="padding: 15px;"/>
                                {% endif %}
                            </a>
                        {% endwith %}
                    {% else %}
                    {% endif %}
                    
                    <a href="mailto:{{ user.email }}?Subject=Contacting your from DEVpost&amp;Body="">
                        <p><button class="button-users-list">Contact</button></p>
                    </a>

                </div>
            
            </div>

            {% endfor %}

    </div>

{% endblock content %}
