{% extends 'blog/base.html' %} 
{% block content %} 

  <div class="content-section">
  
    <h1 class="text-center mb-3">Poll Questions</h1>

      {% if latest_question_list %}

        {% for question in latest_question_list %}

          <div class="card mb-3">
            <div class="card-body">
              <p class="lead">{{ question.question_text }}</p>
              <a href="{% url 'polldetail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
              <a href="{% url 'pollresults' question.id %}" class="btn btn-secondary btn-sm">Results</a>
            </div>
          </div>

        {% endfor %}

      {% else %}
      
      <p>No polls available</p>

    {% endif %}

  </div>

{% endblock %}
