{% extends 'blog/base.html' %}
{% block content %}

	<div class="content-section">

		<a class="btn btn-secondary btn-sm mb-3" href="{% url 'pollindex' %}">Back To Polls</a>
		<h1 class="text-center mb-3">{{ question.question_text }}</h1>

		{% if error_message %}
		<p class="alert alert-danger">
			<strong>{{ error_message }}</strong>
		</p>
		{% endif %}

		<form action="{% url 'pollvote' question.id %}" method="post">
			{% csrf_token %} 
			{% for choice in question.pollchoice_set.all %}
				<div class="form-check">
					<input
						type="radio"
						name="choice"
						class="form-check-input"
						id="choice{{ forloop.counter }}"
						value="{{ choice.id }}"
					/>
					<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label
					>
				</div>
			{% endfor %}
			<input type="submit" value="Vote" class="btn btn-success btn-lg btn-block mt-4" />
		</form>

	</div>

{% endblock %}