{% extends 'blog/base.html' %}
{% block content %}

	<div class="content-section">

		<h1 class="mb-5 text-center">{{ question.question_text }}</h1>

		<ul class="list-group mb-5">
			{% for choice in question.pollchoice_set.all %}
			<li class="list-group-item">
				{{ choice.choice_text }}  <span class="badge badge-success float-right">{{ choice.votes }} vote{{ choice.votes | pluralize }}</span>
			</li>
			{% endfor %}
		</ul>

		<a class="btn btn-secondary" href="{% url 'pollindex' %}">Back To Polls</a>
	
	</div>

{% endblock %}
