{% load static %}
<!DOCTYPE html>
<html>
<head>

{% block head %}
  {% include 'blog/head.html' %}
{% endblock head %}

</head>

{% url 'login' as bhome %}
{% if request.path == bhome %}
<body style="background: linear-gradient(-45deg, #ee7752, #9e6e81, #65a9c1, #38695d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;">
{% endif %}
{% url 'register' as bregister %}
{% if request.path == bregister %}
<body style="background: linear-gradient(-45deg, #ee7752, #9e6e81, #65a9c1, #38695d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;">
{% else %}
<body>
{% endif %}

    {% block header %}
      {% include 'blog/header.html' %}
    {% endblock header %}

    <!-- Main page -->

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          
        <!-- Main content -->

          {% block content %}
          
          {% endblock %}

        </div>
      
    
       
        <!-- Sidebar -->
        <div class="align-self-start">
          <div class="content-sectionside-settings">
            <div class="container">
              <ul>
                {% url 'user_settings' as urlsettings %}
                {% if request.path == urlsettings %}
                <a href="{% url 'user_settings' %}" style="text-decoration:none;">
                  <li style="list-style:none; border: solid;" class="list-sidebar-settings">Profile</li>
                </a>
                {% else %}
                <a href="{% url 'user_settings' %}" style="text-decoration:none;">
                  <li style="list-style:none;" class="list-sidebar-settings">Profile</li>
                </a>
                {% endif %}
                {% url 'settings_rss' as urlrss %}
                {% if request.path == urlrss %}
                <a href="{% url 'settings_rss' %}" style="text-decoration:none;">
                  <li style="list-style:none; border: solid;" class="list-sidebar-settings">RSS</li>
                </a>
                {% else %}
                <a href="{% url 'settings_rss' %}" style="text-decoration:none;">
                  <li style="list-style:none;" class="list-sidebar-settings">RSS</li>
                </a>
                {% endif %}
                {% url 'settings_github' as urlgit %}
                {% if request.path == urlgit %}
                <a href="{% url 'settings_github' %}" style="text-decoration:none;">
                  <li style="list-style:none; border: solid;" class="list-sidebar-settings">Github</li>
                </a>
                {% else %}
                <a href="{% url 'settings_github' %}" style="text-decoration:none;">
                  <li style="list-style:none;" class="list-sidebar-settings">Github</li>
                </a>
                {% endif %}
                <a href="#contact" style="text-decoration:none;">
                  <li style="list-style:none;" class="list-sidebar-settings">Contact</li>
                </a>
              </li>
            </div>
            
          </div>
        </div>
      </div>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='{% static "blog/highlight.pack.js" %}'></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src='{% static "blog/js/confirmlogout.js" %}'></script>
    <script>

      let confirm = new ConfirmClass();
      confirm.onShow = function () {
        // do something
      };
      confirm.onHide = function () {
        // do something
      };
      function showConfirm () {
        confirm.show({
          title: 'Sign out',
          content: 'Are you sure you want to sign out?',
          btns: [{
            callback: function(instance){
              instance.close = false;
              window.location.replace("{% url 'logout' %}");
              instance.close = true;
              showToast()
            }
          }, {
            text: 'Cancel',
            callback: function(){
              window.location.replace("{% url 'blog-home' %}");
            }
          }],
          onShow: function(){
            console.log('Open!')
          }
        })
      }

      let toast = new ToastClass();
      toast.onShow = function () {
        // on show
      };
      toast.onHide = function () {
        // on hide
      };
      function showToast () {
        toast.show({
          loading: true,
          onShow: function(){
            setTimeout(function(){
              toast.show({
                text: 'Loading Completely',
                duration: 100,
                onHide: function(){
                  // do something
                }
              })
            }, 3000)
          }
        })
      }
    </script>
    <script type="text/javascript" src="{% static 'blog/js/trix.js' %}"></script>
    <script>document.addEventListener("touchstart", function(){}, true);</script>
    <script>

            // check for saved 'darkMode' in localStorage
      let darkMode = localStorage.getItem('darkMode'); 

      const darkModeToggle = document.querySelector('#dark-mode-toggle');

      const enableDarkMode = () => {
        // 1. Add the class to the body
        document.body.classList.add('darkmode');
        // 2. Update darkMode in localStorage
        localStorage.setItem('darkMode', 'enabled');
      }

      const disableDarkMode = () => {
        // 1. Remove the class from the body
        document.body.classList.remove('darkmode');
        // 2. Update darkMode in localStorage 
        localStorage.setItem('darkMode', null);
      }
      
      // If the user already visited and enabled darkMode
      // start things off with it on
      if (darkMode === 'enabled') {
        enableDarkMode();
      }

      // When someone clicks the button
      darkModeToggle.addEventListener('click', () => {
        // get their darkMode setting
        darkMode = localStorage.getItem('darkMode'); 
        
        // if it not current enabled, enable it
        if (darkMode !== 'enabled') {
          enableDarkMode();
        // if it has been enabled, turn it off  
        } else {  
          disableDarkMode(); 
        }
      });

    </script>

    <script>  
    $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');

          // toggle data-action
          $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // toggle link text
          $('a.follow').html(
            previous_action == 'follow' ? '<input type="checkbox" class="input-follow" checked="checked"/>' : '<input type="checkbox" class="input-follow"/>');
          )
          // update total followers
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);
        }
      }
    );
  });
    </script>
    
<footer style="text-align: center;">
  <p>&copy;<a href="jeremyfaret@gmail.com"> jeremyfaret@gmail.com</a></p>
</footer>
    
</body>
</html>
