{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}

<div class="content-section-login">
    <div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
        <h2 style="width: 100%; border: solid; text-align: center; box-shadow: 3px 3px;">Identify yourself!</h2>

        <div class="col">
        <fieldset class = "form-group">
            <legend class="border-bottom mb-4" style="border: solid; text-align: center; box-shadow: 3px 3px;">Social medias</legend>
                <a href="{% provider_login_url 'gitlab' %}" style="text-decoration:none;" class="fb btn-login">
                <i class="fa fa-gitlab fa-fw"></i> Login w/Gitlab
                </a>
                <a href="{% provider_login_url 'github' %}" style="text-decoration:none;" class="github btn-login">
                <i class="fa fa-github fa-fw"></i> Login w/ Github
                </a>
                <a href="{% provider_login_url 'google' %}" style="text-decoration:none;" class="google btn-login">
                <i class="fa fa-google fa-fw"></i> Login w/ Google
                </a>
        </fieldset>
        </div>

        <div class="col">
            <div class="hide-md-lg">
            <p>Or sign in manually:</p>
            </div>
            
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4" style="border: solid; text-align: center; box-shadow: 3px 3px;">Log in</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="showToast()">Login</button>
            </div>

        </div>

        </div>
    </form>
    </div>

    <div class="bottom-container" style="background-color: transparent;">
    <div class="row">
        <div class="col">
        <a href="{% url 'register' %}" style="color:black">No account? Sign up!</a>
        </div>
        <div class="col">
        <a href="#" style="color:black">Forgot password?</a>
        </div>
    </div>
    </div>
</div>

{% endblock content %}
