{% extends "blog/base.html" %}
{% block content %}

    <div class="content-section" style="filter: drop-shadow(2px 4px 6px black); transform: translate(50%, 0%); background: white;">
        <div class="container">
            <h2>You have been logged out! See you soon.</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Log in again</a>
                </small>
            </div>
        </div>
    </div>

{% endblock content %}
