{% extends "blog/base.html" %}

{% load static %}
{% block content %}

    {% if not user.profile.github_link or user.profile.linkedin_link or user.profile.gitlab_link or user.profile.twitter_link or user.profile.website_link or user.profile.interest or user.profile.bio or user.profile.location or user.profile.stack %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <span class="material-icons">error</span> It looks like you haven't edited {%if not user.profile.bio%}your bio,{%endif%}{%if not user.profile.interest%} your interest,{%endif%}{%if not user.profile.stack%} your stack,{%endif%}{% if not user.profile.github_link or user.profile.linkedin_link or user.profile.twitter_link or user.profile.gitlab_link or user.profile.website_link %} at least some of your social links yet{%endif%}. Make sure to <a href="{% url 'user_settings' %}" class="alert-link">update your profile</a> so other can get to know you!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <!-- display profile -->
    <div class="content-section" style="filter: drop-shadow(1px 2px 2px black);">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">@{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <a href="{% url 'user_settings' %}">
            <button class="dropbtn">Edit profile</button>
          </a>
          {% if user.profile.github_link %}
          <a href="{{ user.profile.github_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/github.svg' %}" alt="github_logo">
          </a>
          {% else %}
          <a href="#{{ user.username }}didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/github.svg' %}" alt="github_logo">
          </a>
          {% endif %}
          {% if user.profile.linkedin_link %}
          <a href="{{ user.profile.linkedin_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/linkedin.svg' %}" alt="linkedin_logo">
          </a>
          {% else %}
          <a href="#{{ user.username }}didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/linkedin.svg' %}" alt="linkedin_logo">
          </a>
          {% endif %}
          {% if user.profile.twitter_link %}
          <a href="{{ user.profile.twitter_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/gitlab.svg' %}" alt="gitlab_logo">
          </a>
          {% else %}
          <a href="{{ user.username }}#didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/gitlab.svg' %}" alt="gitlab_logo">
          </a>
          {% endif %}
          {% if user.profile.website_link %}
          <a href="{{ user.profile.twitter_link }}">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/external-link.svg' %}" alt="external-link_logo">
          </a>
          {% else %}
          <a href="{{ user.username }}#didnotset">
            <img style="width:30px;height:30px;" src="{% static 'assets/logos/external-link.svg' %}" alt="external-link_logo">
          </a>
          {% endif %}
        </div>
      </div>

    </div>

          <!-- Profile infos -->
          <div class="content-section" style="filter: drop-shadow(1px 2px 2px black);">
            <div class="container">
              <legend class="border-bottom mb-4" style="text-align: center;">Bio</legend>
              {% if user.profile.bio %}
                <p>{{ user.profile.bio }}</p>
              {% else %}
                <p>It looks you haven't set your bio. Go ahead and tell us about yourself in the <a href="{% url 'user_settings'%}" style="text-decoration:none">settings</a></p>
              {% endif %}
            </div>
          </div>

          <div class="content-section" style="filter: drop-shadow(1px 2px 2px black);">
            <div class="container">
              <legend class="border-bottom mb-4" style="text-align: center;">Details</legend>
                
                  {% if user.profile.interest %}
                  <p>Interest: {{ user.profile.interest }}</p>
                  {% else %}
                  <p>Interested in: You did not mention any interests</p>
                  {% endif %}
                  {% if user.profile.location %}
                  <p>Location: {{ user.profile.location }}</p>
                  {% else %}
                  <p>Location: {{ user.username|title }} doesn't live anywhere. A man without border</p>
                  {% endif %}
                  {% if user.profile.birth_date %}
                  <p>Birth date: {{ user.profile.birth_date }}</p>
                  {% else %}
                  <p>Birth date:<a href="{% url 'user_settings' %}" style="text-decoration:none;"> Not set</a></p>
                  {% endif%}

            </div>
          </div>


          <div class="content-section" style="filter: drop-shadow(1px 2px 2px black);">
            <div class="container">
              <legend class="border-bottom mb-4" style="text-align: center;">Stack</legend>
                  
                  {% if user.profile.stack %}
                  <div class="container">
                    <div class="row">
                      {% for lang in user.profile.stack.all %}
                      <div class="col-sm">
                        <img style="width:25px; background:transparent;" src="{{ lang.stack_thumb.url }}">
                        <p>{{ lang.stack_name }}</p>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% else %}
                  <p>It looks like you haven't set any technologies you're working with! You can go ahead an modify this in the <em><a href="{% url 'user_settings' %}" style="text-decoration:none;">settings</a></em>, so everyone can see what your stack is!</p>
                  {% endif %}

            </div>
          </div>

    <div class="content-section" style="border: solid;">

      <h2 class="testyy">My posts</h2>

      {% if posts %}

          {% for post in posts %}
    
            <article class="media content-sectionmain">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-posts' post.author.username %}"></a>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% for tag in post.tags.all %}
                <a href="{% url 'filter' tag|lower %}/">
                  <small class="text-muted text-muted-tags">#{{ tag }}</small>
                </a>
                {% endfor %}
                <a href="{% url 'post-update' post.id %}"><i class="material-icons" style="font-size: 12px;">edit</i></a>
                <a href="{% url 'post-delete' post.id %}"><i class="material-icons" style="font-size: 12px;">&#xe872;</i></a>
                </div>
                <!-- post detail access -->
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                {% for tag in tags %}
                  <p>#{{ tag }}</p>
                {% endfor %}
              </div>
            </article>
      
          {% endfor %}

    {% else %}

     <p>Nothing posted by this user yet :(</p>

    {% endif %}

   

    </div>
    
{% endblock content %}
