{% extends "users/base.html" %}
{% load account %}
{% load socialaccount %}
{% block content %}
    
    <!-- settings head -->
    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Settings X @{{ user.username }}</h2>
          <legend class="" style="text-align: center;">Github configuration</legend>
        </div>
      </div>
    </div>

    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
      <div class="container">
          <legend class="border-bottom mb-4" style="text-align: center;">Connect Github | Status:{% if social %}Connected{%else%}Not Connected{%endif%}</legend>
          {% if not social %}
          <fieldset class = "form-group">
                <a href="{% provider_login_url 'github' %}" class="github btn-login">
                <i class="fa fa-github fa-fw"></i> Connect Github account
                </a>
        </fieldset>
        {% endif %}
        </div>

    </div>


    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
      <div class="container">
          <legend class="border-bottom mb-4" style="text-align: center;">Your Github repos</legend>
          {% if repolist %}
            {% for reponame in repolist %}
              <ul style="text-align:center;">
                <li style="list-style:none;">{{ reponame }}</li>
              </ul>
            {% endfor %}
          {% else %}
          <p>No repository to display!</p>
          {% endif %}
        </div>

    </div>



{% endblock content %}
