{% extends "users/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- settings head -->
    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Settings X @{{ user.username }}</h2>
          <legend class="" style="text-align: center;">Profile Info</legend>
        </div>
      </div>

    </div>

    <!-- Update profile form -->
    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">

                {{ u_form.username | as_crispy_field }}
                {{ u_form.email | as_crispy_field }}
            
                {{ p_form.image | as_crispy_field }}

                {{ p_form.bio | as_crispy_field }}
                {{ p_form.interest | as_crispy_field }}
                {{ p_form.location | as_crispy_field }}

                {{ p_form.birth_date | as_crispy_field }}


            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" style="background-color: transparent; border-color: black; color: black; padding: 3px; box-shadow: 3px 3px;">Update</button>
            </div>
    </div>

    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
          <legend class="" style="text-align: center;">Stack</legend>

            <fieldset class = "form-group">

                {{ p_form.stack | as_crispy_field }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" style="background-color: transparent; border-color: black; color: black; padding: 3px; box-shadow: 3px 3px;">Update</button>
            </div>
    </div>

    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
        <legend class="" style="text-align: center;">Socials</legend>

            <fieldset class = "form-group">

                {{ p_form.github_link | as_crispy_field }}
                {{ p_form.linkedin_link | as_crispy_field }}
                
                {{ p_form.gitlab_link | as_crispy_field }}

                {{ p_form.twitter_link | as_crispy_field }}
                {{ p_form.website_link | as_crispy_field }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" style="background-color: transparent; border-color: black; color: black; padding: 3px; box-shadow: 3px 3px;">Update</button>
            </div>
        </form>
    </div>
    
{% endblock content %}
