{% extends "users/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    
    <!-- settings heading-->
    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Settings X @{{ user.username }}</h2>
          <legend  style="text-align: center;">RSS configuration</legend>
        </div>
      </div>
    </div>

    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
      {{ rss_des | safe }}
    </div>

    <!-- Add RSS feed form -->
    <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4" style="text-align: center;">Add RSS feed</legend>
                {{ rss_form.feed_name|as_crispy_field }}
                {{ rss_form.feed_url|as_crispy_field }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add feed</button>
            </div>
        </form>
      </div>

      <div class="content-section" style="box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);">
        <legend class="border-bottom mb-4" style="text-align: center;">My RSS feeds</legend>

        <div class="container d-flex justify-content-center">
          <div class="row">

          {% for f in rss %}
          <ul style="list-style:none;">
            <li><a href="{% url 'news' %}?url={{ f.feed_url }}" style="text-decoration:none;">#{{ f.feed_name }}</a> | <a href="{% url 'delete-rss' f.id %}" style="text-decoration:none;">Delete this RSS</a></li>
          <ul>
          {% endfor %}

          </div>
        </div>

      </div>


{% endblock content %}
