{% extends "users/base.html" %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Delete RSS feed</legend>
                <h2>Are you sure you want to delete the following feed: "{{ object.feed_name }}"
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'settings_rss' %}">Cancel</a>
            </div>
        </form>
    </div>

{% endblock content %}